<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Awesome Site</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<style>
html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 1.0em;
    font-family: Meiryo, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


.content-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

#body {
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("/content/heroAccent-g.png") no-repeat;
    }

.wmm {
    padding-top: 10px;
    padding-left: 0;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: 1.0em;
    height: 60px;
}

.site-title {
    color: #00a84e;
    font-family: Meiryo, Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    font-weight: bold;
    margin: 20px 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #00a84e;
        color: #3e5667;
        padding: 20px 40px 10px 40px;
        border-radius: 20px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

#hearts{
    font-size: 1.5em;
}

    </style>*@
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@ViewBag.Title</p>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; 2014 チャック.</p>
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.site-title, .content-wrapper, footer, .wmm').hide();
            $('.site-title').slideDown(700, function () {
                $('.content-wrapper').slideDown(700);
                $('footer').fadeIn(700);
            });
            $('.wmm').fadeIn(3500);
        });
    </script>
</body>
</html>
